In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing the data
data = pd.read_csv('Downloads/vehicle loan default.csv')
data

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,LOAN_DEFAULT
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-1984,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-1985,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-1985,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-1993,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-1977,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,626432,63213,105405,60.72,34,20700,48,1050,01-08-1988,Salaried,...,0,0,4084,0,0,0,1yrs 9mon,3yrs 3mon,0,0
233150,606141,73651,100600,74.95,34,23775,51,990,05-12-1988,Self employed,...,0,0,1565,0,0,0,0yrs 6mon,0yrs 6mon,0,0
233151,613658,33484,71212,48.45,77,22186,86,2299,01-06-1976,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
233152,548084,34259,73286,49.10,77,22186,86,2299,26-03-1994,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
233153,630213,75751,116009,66.81,77,22186,86,2299,18-02-1984,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0

In [3]:
# checking the columns
data.columns

Index(['UNIQUEID', 'DISBURSED_AMOUNT', 'ASSET_COST', 'LTV', 'BRANCH_ID',
       'SUPPLIER_ID', 'MANUFACTURER_ID', 'CURRENT_PINCODE_ID', 'DATE_OF_BIRTH',
       'EMPLOYMENT_TYPE', 'DISBURSAL_DATE', 'STATE_ID', 'EMPLOYEE_CODE_ID',
       'MOBILENO_AVL_FLAG', 'AADHAR_FLAG', 'PAN_FLAG', 'VOTERID_FLAG',
       'DRIVING_FLAG', 'PASSPORT_FLAG', 'PERFORM_CNS_SCORE',
       'PERFORM_CNS_SCORE_DESCRIPTION', 'PRI_NO_OF_ACCTS', 'PRI_ACTIVE_ACCTS',
       'PRI_OVERDUE_ACCTS', 'PRI_CURRENT_BALANCE', 'PRI_SANCTIONED_AMOUNT',
       'PRI_DISBURSED_AMOUNT', 'SEC_NO_OF_ACCTS', 'SEC_ACTIVE_ACCTS',
       'SEC_OVERDUE_ACCTS', 'SEC_CURRENT_BALANCE', 'SEC_SANCTIONED_AMOUNT',
       'SEC_DISBURSED_AMOUNT', 'PRIMARY_INSTAL_AMT', 'SEC_INSTAL_AMT',
       'NEW_ACCTS_IN_LAST_SIX_MONTHS', 'DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS',
       'AVERAGE_ACCT_AGE', 'CREDIT_HISTORY_LENGTH', 'NO_OF_INQUIRIES',
       'LOAN_DEFAULT'],
      dtype='object')

In [4]:
# dropping unnecessary columns
data.drop(['BRANCH_ID','DATE_OF_BIRTH','MANUFACTURER_ID','SUPPLIER_ID','EMPLOYEE_CODE_ID','STATE_ID','PERFORM_CNS_SCORE',
     'PERFORM_CNS_SCORE_DESCRIPTION','AVERAGE_ACCT_AGE','CREDIT_HISTORY_LENGTH','DISBURSAL_DATE'],axis = 1, inplace = True)

# Data Summary

In [5]:
data.describe()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,CURRENT_PINCODE_ID,MOBILENO_AVL_FLAG,AADHAR_FLAG,PAN_FLAG,VOTERID_FLAG,DRIVING_FLAG,...,SEC_OVERDUE_ACCTS,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,LOAN_DEFAULT
count,233154.000000,233154.000000,2.331540e+05,233154.000000,233154.000000,233154.0,233154.00000,233154.000000,233154.000000,233154.000000,...,233154.000000,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,233154.000000,233154.000000,233154.000000,233154.000000
mean,535917.573376,54356.993528,7.586507e+04,74.746530,3396.880247,1.0,0.84032,0.075577,0.144943,0.023242,...,0.007244,5.427793e+03,7.295923e+03,7.179998e+03,1.310548e+04,3.232684e+02,0.381833,0.097481,0.206615,0.217071
std,68315.693711,12971.314171,1.894478e+04,11.456636,2238.147502,0.0,0.36631,0.264320,0.352044,0.150672,...,0.111079,1.702370e+05,1.831560e+05,1.825925e+05,1.513679e+05,1.555369e+04,0.955107,0.384439,0.706498,0.412252
min,417428.000000,13320.000000,3.700000e+04,10.030000,1.000000,1.0,0.00000,0.000000,0.000000,0.000000,...,0.000000,-5.746470e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,476786.250000,47145.000000,6.571700e+04,68.880000,1511.000000,1.0,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,535978.500000,53803.000000,7.094600e+04,76.800000,2970.000000,1.0,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
75%,595039.750000,60413.000000,7.920175e+04,83.670000,5677.000000,1.0,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.999000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000
max,671084.000000,990572.000000,1.628992e+06,95.000000,7345.000000,1.0,1.00000,1.000000,1.000000,1.000000,...,8.000000,3.603285e+07,3.000000e+07,3.000000e+07,2.564281e+07,4.170901e+06,35.000000,20.000000,36.000000,1.000000

In [6]:
# checking for null values
data.isna().sum()

UNIQUEID                                  0
DISBURSED_AMOUNT                          0
ASSET_COST                                0
LTV                                       0
CURRENT_PINCODE_ID                        0
EMPLOYMENT_TYPE                        7661
MOBILENO_AVL_FLAG                         0
AADHAR_FLAG                               0
PAN_FLAG                                  0
VOTERID_FLAG                              0
DRIVING_FLAG                              0
PASSPORT_FLAG                             0
PRI_NO_OF_ACCTS                           0
PRI_ACTIVE_ACCTS                          0
PRI_OVERDUE_ACCTS                         0
PRI_CURRENT_BALANCE                       0
PRI_SANCTIONED_AMOUNT                     0
PRI_DISBURSED_AMOUNT                      0
SEC_NO_OF_ACCTS                           0
SEC_ACTIVE_ACCTS                          0
SEC_OVERDUE_ACCTS                         0
SEC_CURRENT_BALANCE                       0
SEC_SANCTIONED_AMOUNT                     0
SEC_DISBURSED_AMOUNT                      0
PRIMARY_INSTAL_AMT                        0
SEC_INSTAL_AMT                            0
NEW_ACCTS_IN_LAST_SIX_MONTHS              0
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS       0
NO_OF_INQUIRIES                           0
LOAN_DEFAULT                              0
dtype: int64

In [7]:
# dropping empty cells
data.dropna(inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225493 entries, 0 to 233153
Data columns (total 30 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UNIQUEID                             225493 non-null  int64
 1   DISBURSED_AMOUNT                     225493 non-null  int64
 2   ASSET_COST                           225493 non-null  int64
 3   LTV                                  225493 non-null  float64
 4   CURRENT_PINCODE_ID                   225493 non-null  int64
 5   EMPLOYMENT_TYPE                      225493 non-null  object
 6   MOBILENO_AVL_FLAG                    225493 non-null  int64
 7   AADHAR_FLAG                          225493 non-null  int64
 8   PAN_FLAG                             225493 non-null  int64
 9   VOTERID_FLAG                         225493 non-null  int64
 10  DRIVING_FLAG                         225493 non-null  int64
 11  PASSPORT_FLAG                        225493 non-null  int64
 12  PRI_NO_OF_ACCTS                      225493 non-null  int64
 13  PRI_ACTIVE_ACCTS                     225493 non-null  int64
 14  PRI_OVERDUE_ACCTS                    225493 non-null  int64
 15  PRI_CURRENT_BALANCE                  225493 non-null  int64
 16  PRI_SANCTIONED_AMOUNT                225493 non-null  int64
 17  PRI_DISBURSED_AMOUNT                 225493 non-null  int64
 18  SEC_NO_OF_ACCTS                      225493 non-null  int64
 19  SEC_ACTIVE_ACCTS                     225493 non-null  int64
 20  SEC_OVERDUE_ACCTS                    225493 non-null  int64
 21  SEC_CURRENT_BALANCE                  225493 non-null  int64
 22  SEC_SANCTIONED_AMOUNT                225493 non-null  int64
 23  SEC_DISBURSED_AMOUNT                 225493 non-null  int64
 24  PRIMARY_INSTAL_AMT                   225493 non-null  int64
 25  SEC_INSTAL_AMT                       225493 non-null  int64
 26  NEW_ACCTS_IN_LAST_SIX_MONTHS         225493 non-null  int64
 27  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS  225493 non-null  int64
 28  NO_OF_INQUIRIES                      225493 non-null  int64
 29  LOAN_DEFAULT                         225493 non-null  int64
dtypes: float64(1), int64(28), object(1)
memory usage: 53.3+ MB

# Correlation

In [9]:
correlation = data.corr()
correlation['LOAN_DEFAULT'].reset_index()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14332\2647134696.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = data.corr()

                                  index  LOAN_DEFAULT
0                              UNIQUEID      0.033666
1                      DISBURSED_AMOUNT      0.079286
2                            ASSET_COST      0.015620
3                                   LTV      0.097996
4                    CURRENT_PINCODE_ID      0.029826
5                     MOBILENO_AVL_FLAG           NaN
6                           AADHAR_FLAG     -0.043455
7                              PAN_FLAG      0.002079
8                          VOTERID_FLAG      0.045778
9                          DRIVING_FLAG     -0.005575
10                        PASSPORT_FLAG     -0.007841
11                      PRI_NO_OF_ACCTS     -0.035954
12                     PRI_ACTIVE_ACCTS     -0.042311
13                    PRI_OVERDUE_ACCTS      0.040926
14                  PRI_CURRENT_BALANCE     -0.027517
15                PRI_SANCTIONED_AMOUNT     -0.011273
16                 PRI_DISBURSED_AMOUNT     -0.011118
17                      SEC_NO_OF_ACCTS     -0.008494
18                     SEC_ACTIVE_ACCTS     -0.006088
19                    SEC_OVERDUE_ACCTS     -0.001482
20                  SEC_CURRENT_BALANCE     -0.005528
21                SEC_SANCTIONED_AMOUNT     -0.006384
22                 SEC_DISBURSED_AMOUNT     -0.006277
23                   PRIMARY_INSTAL_AMT     -0.010386
24                       SEC_INSTAL_AMT     -0.001453
25         NEW_ACCTS_IN_LAST_SIX_MONTHS     -0.030113
26  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS      0.034507
27                      NO_OF_INQUIRIES      0.043844
28                         LOAN_DEFAULT      1.000000

# Pre-Processing

In [10]:
# labelling the string data
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [11]:
data['EMPLOYMENT_TYPE'] = label_encoder.fit_transform(data['EMPLOYMENT_TYPE'])

In [12]:
data

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,CURRENT_PINCODE_ID,EMPLOYMENT_TYPE,MOBILENO_AVL_FLAG,AADHAR_FLAG,PAN_FLAG,VOTERID_FLAG,...,SEC_OVERDUE_ACCTS,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES,LOAN_DEFAULT
0,420825,50578,58400,89.55,1441,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,1502,1,1,1,0,0,...,0,0,0,0,1991,0,0,1,0,1
2,417566,53278,61360,89.63,1497,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,624493,57513,66113,88.48,1501,1,1,1,0,0,...,0,0,0,0,31,0,0,0,1,1
4,539055,52378,60300,88.39,1495,1,1,1,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,626432,63213,105405,60.72,1050,0,1,0,0,1,...,0,0,0,0,4084,0,0,0,0,0
233150,606141,73651,100600,74.95,990,1,1,0,0,1,...,0,0,0,0,1565,0,0,0,0,0
233151,613658,33484,71212,48.45,2299,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
233152,548084,34259,73286,49.10,2299,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
233153,630213,75751,116009,66.81,2299,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# separating target and feature variables
x = data.drop('LOAN_DEFAULT',axis=1)
y = data['LOAN_DEFAULT']

In [14]:
# splitting the data

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [15]:
len(x_train),len(x_test),len(y_train),len(y_test)

(180394, 45099, 180394, 45099)

In [16]:
# importing libraries
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

# Logistic Regression

In [17]:
log = LogisticRegression(max_iter=500)
log_reg = log.fit(x_train,y_train)

In [18]:
log_reg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
# train_score
log_train_score = log_reg.score(x_train,log_reg.predict(x_train))
log_train_score

1.0

In [20]:
# test_score
log_test_score = log_reg.score(x_test,log_reg.predict(x_test))
log_test_score

1.0

# Decision Tree

In [21]:
tree = DecisionTreeClassifier().fit(x_train,y_train)

In [22]:
# train_score
tree_train_score = tree.score(x_train,tree.predict(x_train))
tree_train_score

1.0

In [23]:
# test_score
tree_test_score = tree.score(x_test,tree.predict(x_test))
tree_test_score

1.0

# Random Forest  Classifier

In [24]:
rf = RandomForestClassifier().fit(x_train,y_train)

In [25]:
# train_score
rf_train_score = rf.score(x_train,rf.predict(x_train))
rf_train_score

1.0

In [26]:
# test_score
rf_test_score = rf.score(x_test,rf.predict(x_test))
rf_test_score

1.0

# K Neighbors Classifier

In [27]:
knn = KNeighborsClassifier().fit(x_train,y_train)

In [28]:
# train_score
knn_train_score = knn.score(x_train,knn.predict(x_train))
knn_train_score

1.0

In [29]:
# test_score
knn_test_score = knn.score(x_test,knn.predict(x_test))
knn_test_score

1.0

# XGBoost

In [30]:
xgb = XGBClassifier().fit(x_train,y_train)

In [31]:
# train_score
xgb_train_score = xgb.score(x_train,xgb.predict(x_train))
xgb_train_score

1.0

In [32]:
#  test_score
xgb_test_score = xgb.score(x_test,xgb.predict(x_test))
xgb_test_score

1.0

# comparing models

In [33]:
models = pd.DataFrame({
    'model': ['log_reg','tree','rf','knn','xgb'],
    'train_score': [log_train_score,tree_train_score,rf_train_score,knn_train_score,xgb_train_score],
    'test_score': [log_test_score,tree_test_score,rf_test_score,knn_test_score,xgb_test_score]
})

In [34]:
models.sort_values("test_score",ascending=False)

     model  train_score  test_score
0  log_reg          1.0         1.0
1     tree          1.0         1.0
2       rf          1.0         1.0
3      knn          1.0         1.0
4      xgb          1.0         1.0

In [35]:
# seems like all the model works perfectly, so for simplicity we take Logistic regression for prediction.

In [36]:
y_predict = log_reg.predict(x_test)

In [37]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [38]:
# intercept
log_reg.intercept_

array([-8.27658973e-09])

In [39]:
# coefficient
log_reg.coef_

array([[-2.57092711e-06,  2.82886716e-05, -2.05282175e-05,
        -4.89410506e-07,  4.36097264e-05,  8.50559463e-09,
        -8.27658973e-09, -1.87308864e-08,  2.28136851e-10,
         1.06385700e-08, -6.92692493e-10, -2.25929624e-10,
        -1.13830100e-07, -4.73033886e-08,  1.61500577e-08,
        -1.56251702e-07, -1.81992824e-07,  1.84576478e-07,
        -3.77948707e-09, -1.17175751e-09, -1.73550761e-10,
        -4.65286769e-08, -5.21412323e-06,  5.15000660e-06,
        -2.85091981e-07, -1.51854376e-07, -2.03988862e-08,
         1.00602516e-08,  1.60154144e-08]])

In [40]:
# saving the log model to a joblib file

import joblib

joblib.dump(log_reg,'Vehicle _loan_Default')

['Vehicle _loan_Default']

In [41]:
# The joblib file is helpful to predict the loan default if necessary details are provided.